.form__wrapper {
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.1);
  gap: 1.5rem;
}

.form__title {
  font-size: 18px;
  font-weight: normal;
  color: black;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__label {
  display: flex;
  font-size: 14px;
  color: black;
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
}

.form__wrapper input,
.form__wrapper textarea,
.form__wrapper select {
  padding: 0.75rem;
  border: 1px solid #ccc;
  font-size: 14px;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 2px;
  background-color: white;
}

.form__wrapper input:focus,
.form__wrapper textarea:focus,
.form__wrapper select:focus {
  border-color: #61e466;
  outline: 1px ridge #71ca73;
}

.form__button {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form__button:hover {
  background-color: #0056b3;
}

.submit__button {
  background-color: #41a545;
  color: white;
  border-radius: 4px;
  padding: 0.8rem 1.5rem;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  width: 45%;
  margin-top: 2rem;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: auto;
  display: block;
  text-align: center;
}

