.form__wrapper {
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 16px;
  background-color: var(--white);
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.1);
  gap: 1.5rem;
}

.form__title {
  font-size: 18px;
  font-weight: normal;
  color: var(--black);
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__label {
  display: flex;
  font-size: 14px;
  color: var(--black);
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
}

.form__wrapper input,
.form__wrapper textarea,
.form__wrapper select {
  padding: 0.5rem;
  border: 1px solid var(--border-default);
  font-size: 14px;
  height: 2.5rem;
  border-radius: 2px;
  background-color: var(--white);
  width: 100%;
}

.form__wrapper input:focus,
.form__wrapper textarea:focus,
.form__wrapper select:focus {
  border-color: var(--focus-border);
  outline: 1px ridge var(--focus-outline);
}

.form__button {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: var(--primary-button-bg);
  color: var(--white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form__button:hover {
  background-color: var(--primary-button-hover);
}

.submit__button {
  background-color: var(--submit-button-bg);
  color: var(--white);
  border-radius: 4px;
  padding: 0.8rem 1.5rem;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  width: 45%;
  margin-top: 2rem;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: auto;
  display: block;
  text-align: center;
}

.form__row {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .form__row {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}
